/*.navbar{
	padding:5vh 2vh 5vh 2vh !important;
}*/
body{
	background-image: url("https://images.wallpaperscraft.com/image/field_clouds_horizon_123523_3840x2400.jpg");
	background-repeat: no-repeat;
	background-size: 100%vh auto;

}

.container{
	color: white;
	margin-top: 10vh;
}

html{
	zoom: 0.8;
}

@media screen and (max-width: 1000px) {
  html{
  	zoom: 1;
  }

  
}